{% extends 'customerBase.html' %}


{% block title %}Products{% endblock %}

{% block body %}

<div class="row">

    <div class="col-md-4">
        <form action="{{ url_for('admin.products.productsPage') }}" method="GET" class="form-container">

            <div class="form-group">
                <label for="name">Product Name</label>
                <input id="name" type="text" class="form-control" name="name" onchange="filterOnChange(this.id)"
                    value="{% if querySettings["name"] %}{{ querySettings["name"] }}{% endif %}">
            </div>
            
            <div class="row">
                <div class="form-group col">
                    <label for="minRetailPrice">Minimum Price :</label>
                    <input id="minRetailPrice" type="number" class="form-control" name="minRetailPrice" onchange="filterOnChange(this.id)"
                        value="{% if querySettings["minRetailPrice"] %}{{ querySettings["minRetailPrice"] }}{% endif %}">
                </div>

                <div class="form-group col">
                    <label for="maxRetailPrice">Maximum Price :</label>
                    <input id="maxRetailPrice" type="number" class="form-control" name="maxRetailPrice" onchange="filterOnChange(this.id)"
                        value="{% if querySettings["maxRetailPrice"] %}{{ querySettings["maxRetailPrice"] }}{% endif %}">
                </div>
            </div>
            
            <div class="row">
                <div class="form-group col">
                    <label for="limit">Limit: </label>
                    <input id="limit" type="number" class="form-control" name="limit" onchange="filterOnChange(this.id)"
                        value="{% if querySettings["limit"] %}{{ querySettings["limit"] }}{% endif %}">
                </div>
    
                <div class="form-group col">
                    <label for="order_by_columnName">Order By:</label>
                    <select id="order_by_columnName" class="form-control" name="order_by_columnName" onchange="filterOnChange(this.id)">
                        <option value="" {% if not querySettings["order_by_columnName"] %}selected{% endif %}
                            value="" checked> Not Selected </option>
                        {% for column in columnNames %}
                            <option {% if querySettings["order_by_columnName"] == column %}selected{% endif %}
                                value="{{ column }}">{{ column }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            <div class="form-group">
                <label>Order Direction:</label>
                <div>
                    <label>
                        <input type="radio" name="order_direction" value="Ascending" onchange="filterOnChange(this.id)"
                            {% if not querySettings["order_direction"] or
                                querySettings["order_direction"] == "Ascending" %}
                                checked {% endif %}>
                        Ascending
                    </label>
                    <label>
                        <input type="radio" name="order_direction" value="Descending" onchange="filterOnChange(this.id)"
                            {% if querySettings["order_direction"] == "Descending" %}
                                checked {% endif %}>
                        Descending
                    </label>
                </div>
            </div>

        </form>
    </div>

    <div class="col-md-8">
        <form action="{{ url_for('customer.products.customerCategoryDepartmentPage',category = products[0].category, department =products[0].department)}}" method="POST" class="form-container">
            <div class="form-group">
                <label for="brand">Brand</label>
                <input id="brand" type="text" class="form-control" name="brand" autocomplete="off" required>
                <div id="suggestion-box" class="suggestion-box"></div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        {% if products %}
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col">Category </th>
                        <th scope="col">Department</th>
                        <th scope="col">Name </th>
                        <th scope="col">Brand </th>
                        <th scope="col">Retail Price </th>
                    </tr>
                </thead>
                {% for product in products %}
                    <tr>
                        <td>
                            {{ product.category }}
                        </td>
                        <td>
                            {{ product.department }}
                        </td>
                        <td>
                            <a href ="{{ url_for('customer.products.productDetailPage', id = product.id) }}"> {{ product.name }} </a>
                        </td>
                        <td>
                            {{ product.brand}}
                        </td>
                        <td>
                            {{ '%.2f' | format(product.retail_price) }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h1>No products found...</h1>
        {% endif %}
    </div>
</div>


<script>

    document.addEventListener('DOMContentLoaded', function() {
    var brands = {{ brands | tojson }};
    var brandInput = document.getElementById('brand');
    var suggestionBox = document.getElementById('suggestion-box');

    // Function to update suggestions
    function updateSuggestions(filter = '') {
        suggestionBox.innerHTML = ''; // Clear previous suggestions
        var filteredBrands = brands.filter(brand => brand.toLowerCase().includes(filter.toLowerCase()));

        filteredBrands.forEach(function(brand) {
            var div = document.createElement('div');
            div.classList.add('suggestion-item');
            
            div.textContent = brand;
            div.onclick = function() {
                brandInput.value = brand;
                suggestionBox.style.display = 'none';
            };
            suggestionBox.appendChild(div);
        });

        if(filteredBrands.length === 0){
            suggestionBox.style.display = 'none';
        }else{
            suggestionBox.style.display = 'block';
        }
    }


    // Event listener for input on brand field
    brandInput.addEventListener('input', function() {
        updateSuggestions(this.value);
    });

    brandInput.addEventListener('focus', function() {
        updateSuggestions(this.value);
    });

    // Hide suggestions when clicking outside
    document.addEventListener('click', function(e) {
        if (e.target !== brandInput) {
            suggestionBox.style.display = 'none';
        }
    });
});

</script>

{% include "pagination.html" %}

{% endblock %}