{% extends 'customerBase.html' %}

{% block title %}Order Detail{% endblock %}


{% block body %}
    {% if order %}
        <h1>Order</h1>
        <div>
            <strong>Customer : </strong>
            <a href = "{{ url_for('customer.users.userPage') }}">
                {{ user.first_name + " " + user.last_name }}
            </a>
        </div>
        <div><strong>Number of Items: </strong>{{ order.num_of_items }}</div>
        <div><strong>Ordered At: </strong>{{ order.created_at }}</div>
        <div><strong>Shipped At: </strong>{{ order.shipped_at }}</div>
        <div><strong>Delivered At: </strong>{{ order.delivered_at }}</div>
        <div><strong>Returned At: </strong>{{ order.returned_at }}</div>
    {% if orderItems %}
            <hr>
            <h2>Ordered Products</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Brand</th>
                        <th scope="col">Category</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                {% for orderItem in orderItems %}
                    <tr>
                        <td>
                            {{ orderItem.product.brand }}
                        </td>
                        <td>
                            {{ orderItem.product.category }}
                        </td>
                        <td>
                            <a href="{{ url_for('customer.products.productDetailPage', id = orderItem.product.id)}}">
                                {{ orderItem.product.name }}
                            </a>
                        </td>
                        <td>
                            {{ '%.2f' | format(orderItem.sale_price) }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endif %}
{% endblock %}