{% extends 'customerBase.html' %}

{% block title %}Profile{% endblock %}

{% block body %}
    {% if user %}
        <h1>{{ user.first_name + " " + user.last_name }}</h1>
        <div><strong>Mail : </strong><a href = {{ "mailto:" + user.email }}>{{ user.email }}</a></div>
        <div><strong>Age : </strong>{{ user.age }}</div>
        <div><strong>Gender : </strong>{{ user.gender }}</div>
        <div>
            <strong>Full Address : </strong>
            <a href= {{ "https://www.google.com/maps/search/?api=1&query=" + user.latitude|string + "," + user.longitude|string }}>
                {{ user.fullAddress }}
            </a>
        </div>
        <div>
            <strong>Member Since : </strong>
                {{ user.created_at }}
        </div>
        <a href = "{{ url_for('customer.users.updateUserPage') }}" class="btn btn-primary">Update Profile!</a>
            {% if orders %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Order Number</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    {% for order in orders %}
                        <tr>
                            <td>
                                <a href="{{ url_for('customer.orders.orderDetailPage', id = order.id)}}">
                                    Order #{{ order.id }}
                                </a>
                            </td>
                            <td>
                                {{ order.status }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <h1>No orders found...</h1>
            {% endif %}
    {% endif %}
{% endblock %}