{% extends 'customerBase.html' %}


{% block body %}
    <div class="flex-container">
        {% for c in categories  %}  
            <div class="box">
                <span class="box-content"> <strong> {{c}} </strong> </span>
                <div class="sub-boxes">
                    <div class="sub-box"> <a href="{{ url_for('customer.products.customerCategoryDepartmentPage', category=c, department='Men') }}">      <strong> MEN </strong>   </a></div>
                    <div class="sub-box"> <a href =" {{ url_for('customer.products.customerCategoryDepartmentPage', category=c, department='Women') }} "> <strong> WOMEN </strong> </a> </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

