{% extends 'base.html' %}

{% block title %}Orders{% endblock %}


{% block body %}
<div class="row">
    <div class="col-2">
        <form action="{{ url_for('admin.orders.ordersPage') }}" method="get">
            <div class="form-group">
                <label for="customer_name">Customer Name:</label>
                <input id="customer_name" type="text" class="form-control" name="customer_name" onchange="filterOnChange(this.id)"
                    value="{% if querySettings["customer_name"] %}{{ querySettings["customer_name"] }}{% endif %}">
            </div>
            <div class="form-group">
                <label for="status">Order Status</label>
                <select id="status" class="form-control" name="status" aria-label="Status" onchange="filterOnChange(this.id)">
                    <option {% if not querySettings["status"] %}selected{% endif %} value = ""></option>
                    {% for statusItem in statusItems %}
                        <option {% if querySettings["status"] == statusItem %}selected{% endif %}
                            value = "{{ statusItem }}">{{ statusItem }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <select id="gender" class="form-control" name="gender" aria-label="Gender" onchange="filterOnChange(this.id)">
                    <option {% if not querySettings["gender"] %}selected{% endif %} value = ""></option>
                    {% for genderItem in genderItems %}
                        <option {% if querySettings["gender"] == genderItem %}selected{% endif %}
                            value = "{{ genderItem }}">{{ genderItem }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn btn-success" type="submit">Filter</button>
            <button class="btn btn-primary" type="reset">Reset</button>
        </form>
    </div>
    <div class="col-10">
        {% if orders %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Order Number</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                {% for order in orders %}
                    <tr>
                        <td>
                            <a href="{{ url_for('admin.orders.orderDetailPage', id = order.id)}}">
                                Order #{{ order.id }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ url_for('admin.users.userDetailPage', id = order.user_id) }}">
                                {{ order.customer_name }}
                            </a>
                        </td>
                        <td>
                            {{ order.status }}
                        </td>
                    </tr>
                    <!-- <div>Ordered At: {{ order.created_at }}</div>
                    <div>Shipped At: {{ order.shipped_at }}</div>
                    <div>Delivered At: {{ order.delivered_at }}</div>
                    <div>Returned At: {{ order.returned_at }}</div> -->
                {% endfor %}
            </table>
        {% else %}
            <h1>No orders found...</h1>
        {% endif %}
    </div>
</div>
{% endblock %}