{% extends 'base.html' %}

{% block title %}Products{% endblock %}


{% block body %}
<div class="row">
    <div class="col-2">
        <form action="{{ url_for('admin.products.productsPage') }}" method="GET">
            <div class="form-group">
                <label for="category">Product Category : </label> 
                <select id="category" class="form-control" name="category">
                    <option value="" checked> Not Selected </option>
                    {% for category in categories %}
                        <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="form-group">
                <label for="name">Product Name</label>
                <input id="name" type="text" class="form-control" name="name" >
            </div>
            
            <div class="form-group">
                <label for="costUpperBound">Product Cost Upper Bound :</label>
                <input id="costUpperBound" type="number" class="form-control" name="costUpperBound">
            </div>
            
            <div class="form-group">
                <label for="costLowerBound">Product Cost Lower Bound :</label>
                <input id="costLowerBound" type="number" class="form-control" name="costLowerBound">
            </div>

            <div class="form-group">
                <label for="limit">Limit :  </label>
                <input id="limit" type="number" class="form-control" name="limit">
            </div>

            <div class="form-group">
                <label for="order_by_columnName">Order By:</label>
                <select id="order_by_columnName" class="form-control" name="order_by_columnName">
                    <option value="" checked> Not Selected </option>
                    {% for column in columnNames %}
                        <option value="{{ column }}">{{ column }}</option>
                    {% endfor %}
                </select>
            </div>
        
            <div class="form-group">
                <label>Order Direction:</label>
                <div>
                    <label><input type="radio" name="order_direction" value="Ascending" checked> Ascending</label>
                    <label><input type="radio" name="order_direction" value="Descending"> Descending</label>
                </div>
            </div>

            <div class="form-group">
                <label for="brand">Brand :</label>
                <input id="brand" type="text" class="form-control" name="brand">
            </div>

            <div class="form-group">
                <label for="department">Department :</label> 
                <select id = "department" class="form-control" name="department">
                    <option value="" checked> Not Selected </option>
                    <option value="Men"> Men </option>
                    <option value="Men"> Women </option>
                </select>
            </div>

            <button class="btn btn-success" type="submit">Filter</button>
            <button class="btn btn-primary" type="reset">Reset</button>
        </form>
    </div>
    <div class="col-10">
        {% if products %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Product ID</th>
                        <th scope="col">Category </th>
                        <th scope="col">Name </th>
                        <th scope="col">Cost </th>
                        <th scope="col">Retail Price </th>

                    </tr>
                </thead>
                {% for product in products %}
                    <tr>
                        <td>
                            <a href="{{ url_for('admin.products.productDetailPage', id = product.id)}}">
                                Product #{{ product.id }}
                            </a>
                        </td>
                        <td>
                            {{ product.category }}
                        </td>
                            <td>
                            {{ product.name }}
                        </td>
                        <td>
                            {{ product.cost }} 
                        </td>
                        <td>
                            {{ product.retail_price }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h1>No products found...</h1>
        {% endif %}
    </div>
</div>
{% endblock %}