{% extends 'base.html' %}

{% block title %}Product Detail{% endblock %}

{% block body %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}

    <h1> {{ product.name }} </h1>
    <ul>
        <li><strong>ID:</strong> {{ product.id }}</li>
        <li><strong>Cost:</strong> {{ '%.2f' | format(product.cost) }}</li>
        <li><strong>Category:</strong> {{ product.category }}</li>
        <li><strong>Name:</strong> {{ product.name }}</li>
        <li><strong>Brand:</strong> {{ product.brand }}</li>
        <li><strong>Retail Price:</strong> {{ '%.2f' | format(product.retail_price) }}</li>
        <li><strong>Department:</strong> {{ product.department }}</li>
        <li><strong>SKU:</strong> {{ product.sku }}</li>
        <li><strong> <a href = "{{ url_for('admin.distributionCenters.distributionCenterDetailPage', id = product.distribution_center_id)}}" > Distribution Center ID:</strong> {{ product.distribution_center_id }} </a></li>
    </ul>

    <a href = "{{ url_for('admin.products.updateProductPage', id = product.id) }}" class="btn btn-primary">Update</a>
    <a href = "{{ url_for('admin.products.deleteProductPage', id = product.id) }}" class="btn btn-danger">Delete</a>

    <div class="col-md-8" style="padding: 20px;">
        <form id="add-stock-form" action="{{url_for( 'admin.products.addStockToInventory', id = product.id )}}" method="post">
            <button class="btn btn-warning" type="button" id="increment">+</button>
            <input class="product-quantity-input" type="number" id="quantity" name="quantity" value="1" min="1">
            <button class="btn btn-danger" type="button" id="decrement">-</button>
            <button type="submit">Add Stock</button>
        </form>
        
    </div>
    

    <h4>Total Stock : {{ totalStock }} </h4>
    <h4>Total Sold  : {{ totalSold }} </h4>
{% endblock %}
